<template lang="pug">
  section.name
    section.label
      label {{ $t(`${modelName}.${field}.title`) }}
      p(v-if="$t(`${modelName}.${field}.subtitle`)")
        | {{ $t(`${modelName}.${field}.subtitle`) }}
    section.fields
      fieldset
        Select(:field="['dob', 'd']"
              v-model="attribute"
              :modelName="modelName"
              :required="required"
              :value="null")
          option(value="" disabled) {{ $t(`${modelName}.${field}.placeholders[0]`)  }}
          option(v-for="n in 31"
                  :key="n"
                  :value="n") {{ n }}
      fieldset
        Select(:field="['dob', 'm']"
              v-model="attribute"
              :modelName="modelName"
              :required="required"
              :value="null")
          option(value="" disabled) {{ $t(`${modelName}.${field}.placeholders[1]`)  }}
          option(v-for="n in 12"
                  :key="n"
                  :value="n") {{ n }}
      fieldset
        Input(:field="['dob', 'y']"
              :modelName="modelName"
              :placeHolder="$t(`${modelName}.${field}.placeholders[2]`)"
              :required="required"
              :inputAttrs="inputAttrs")
</template>

<script>
  import Select from '@/components/forms/Select';
  import Input from '@/components/forms/Input';

  export default {
    name: 'Dob',
    components: { Select, Input },
    props: {
      field: { type: String, required: true },
      modelName: { type: String, required: true },
      required: { type: Boolean, default: false },
      disabled: { type: Boolean, default: false },
      showLabel: { type: Boolean, default: true },
      blankLabel: { type: Boolean, default: false },
      radioOptions: { type: Array, default: null },
      inputAttrs: { type: Object, default: () => { return {}; } },
    },
    computed: {
      attribute: {
        get () {
          return '';
        },
        set (v) {
          const h = {};
          const key = v.field;
          debugger;
          h[this.field][key] = v.value;
          this.store.commit('SET_SEARCH', h);
        }
      },
    }
  };
</script>

<style lang="scss" scoped>
  .name {
    .label {
      margin: 0 0 8px;

      label {
        @include label;

        display: block;
      }

      p {
        @include small-text;
      }
    }

    .fields {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      fieldset {
        display: flex;
        margin: 0 0 16px 0;

        &:nth-child(1) {
          flex: 0 1 26%;
        }

        &:nth-child(2) {
          flex: 0 1 26%;
        }

        &:nth-child(3) {
          flex: 0 1 38%;
        }
      }

      @media screen and (min-width: $WIDTH_TABLET) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
</style>
