<template lang="pug">
  section.name
    fieldset
      label(for="title") {{ $t(`${modelName}.${field}.title[0]`) }}
      Select(:field="['name', 'title']"
             :modelName="modelName"
             :required="required"
             :inputAttrs="inputAttrs")
        option(value="" disabled) {{ $t(`${modelName}.${field}.placeholder.title`)  }}
        option(v-for="t in ['Mr', 'Mrs', 'Ms', 'Dr', 'Fr']"
                :key="t"
                :value="t") {{ t }}
    fieldset
      label(for="fname")  {{ $t(`${modelName}.${field}.title[1]`)}}
      Input(:field="['name', 'fname']"
            :modelName="modelName"
            :placeHolder="$t(`${modelName}.${field}.placeholder.fname`)"
            :required="required"
            :inputAttrs="inputAttrs")
    fieldset
      label(for="sname")  {{ $t(`${modelName}.${field}.title[2]`)}}
      Input(:field="['name', 'sname']"
            :modelName="modelName"
            :placeHolder="$t(`${modelName}.${field}.placeholder.sname`)"
            :required="required"
            :inputAttrs="inputAttrs")
</template>

<script>
  import Select from '@/components/forms/Select';
  import Input from '@/components/forms/Input';

  export default {
    name: 'Name',
    components: { Select, Input },
    props: {
      field: { type: String, required: true },
      modelName: { type: String, required: true },
      required: { type: Boolean, default: false },
      disabled: { type: Boolean, default: false },
      showLabel: { type: Boolean, default: true },
      blankLabel: { type: Boolean, default: false },
      radioOptions: { type: Array, default: null },
      inputAttrs: { type: Object, default: () => { return {}; } },
    }
  };
</script>

<style lang="scss" scoped>
  .name {
    fieldset {
      display: flex;
      flex-direction: column;
      margin: 0 0 16px 0;

      &:nth-child(3) {
        margin: 0;
      }

      label {
        @include label;
      }
    }

    @media screen and (min-width: $WIDTH_TABLET) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      fieldset {
        &:nth-child(1) {
          flex: 0 1 25%;
        }

        &:nth-child(2) {
          flex: 0 1 33%;
        }

        &:nth-child(3) {
          flex: 0 1 33%;
        }
      }
    }
  }
</style>
