<template lang="pug">
  article
    section.container
      nav
        .logo {{ $t('logo') }}
        ul.form-steper
          router-link(v-for="(s, i) in $t(`${modelName}.steps`)"
                      :to="s.path"
                      :key="i")
            li(:class="{ active: i === 0 }")
              .circle
                template(v-if="i > 3")
                  FontAwesomeIcon(:icon="['far', 'check']")
                template(v-else)
                  span {{ Number(i) + 1 }}
              span {{ s.step }}
</template>

<script>
  export default {
    name: 'FormStepper',
    props: {
      modelName: { type: String, required: true }
    }
  }
</script>

<style lang="scss" scoped>
  .logo {
    @include base-text;

    align-items: center;
    align-items: flex-end;
    display: flex;
    font-weight: 500;
    height: 50px;
    justify-content: center;
    padding: 8px;

    @media screen and (min-width: $WIDTH_TABLET) {
      display: none;
    }
  }

  .form-steper {
    display: none;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;

    a {
      color: $CHARCOAL;
      text-decoration: none;

      li {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        opacity: .5;
        transition: all .2s ease-in;

        &:hover {
          opacity: 1;
        }

        .circle {
          align-items: center;
          border: 2px solid $CHARCOAL;
          border-radius: 50%;
          display: flex;
          font-weight: 700;
          height: 30px;
          justify-content: center;
          margin: 0 0 8px 0;
          position: relative;
          width: 30px;

          span {
            @include small-text;

            font-weight: 700;
          }

          svg {
            @include small-text;
          }
        }

        span {
          @include small-text;

          font-weight: 700;
        }

        &.active {
          cursor: initial;
          opacity: 1;

          .circle {
            background: $YELLOW;
          }
        }
      }
    }

    @media screen and (min-width: $WIDTH_TABLET) {
      display: flex;
    }
  }
</style>
