<template lang="pug">
  section.heading
    h1 {{ $t(`${modelName}.jumbo.title`) }}
    p {{ $t(`${modelName}.jumbo.subTitle`) }}
</template>

<script>
  export default {
    name: 'Header',
    props: {
      modelName: { type: String, required: true }
    }
  };
</script>

<style lang="scss" scoped>
  section.heading {
    padding: 40px 0 24px;

    h1 {
      @include base-h1;
    }

    p {
      @include base-text;
    }
  }
</style>
