<template lang="pug">
  section.heading
    h2 {{ $t(`${model}.title`) }}
    p {{ $t(`${model}.description`) }}
</template>

<script>
  export default {
    name: 'SubHeader',
    props: {
      model: { type: String, required: true }
    }
  };
</script>

<style lang="scss" scoped>
  section.heading {
    margin: 0 0 40px;
    padding: 0;

    h2 {
      @include base-h2;
    }

    p {
      @include base-text;
    }
  }
</style>
