<template lang="pug">
  section.widgets
    section.widget(v-for="(widget, i) in $t('widgets')"
            :key="i"
            :class="widget.icon")
      template(v-if="widget.icon === 'phone-alt'")
        a(href="tel:+353857891860")
          FontAwesomeIcon(:icon="['fas', widget.icon]")
          span {{ widget.title }}
      template(v-else)
        FontAwesomeIcon(:icon="['fas', widget.icon]")
        span(v-if="widget.title") {{ widget.title }}
</template>

<script>
  export default {
    name: 'Widgets',
    props: {
      widget: { type: Object, default: () => { return {}; } }
    }
  };
</script>

<style lang="scss" scoped>
  .widgets {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;

    .widget {
      background: $BACKGROUND;
      border: 2px solid $WHITE;
      border-radius: 14px;
      bottom: 24px;
      box-shadow: rgba(149, 157, 165, .35) 0 6px 14px;
      color: $CHARCOAL;
      cursor: pointer;
      padding: 16px;
      position: fixed;
      right: 16px;
      text-align: center;
      z-index: 3;

      span {
        @include base-text;

        font-weight: 700;
      }

      svg {
        display: flex;
        height: 22px;
        width: 22px;
      }

      a {
        align-items: center;
        color: $CHARCOAL;
        display: flex;
        justify-content: center;
        text-decoration: none;
      }

      &.save {
        display: none;

        svg {
          height: 22px;
          margin: 0 8px 0 0;
          width: 22px;
        }
      }

      &.phone-alt {
        background: $BACKGROUND;
        border: 0;
        border-radius: 0;
        bottom: 0;
        box-shadow: rgba(149, 157, 165, .25) 0 -5px 10px;
        content: '';
        left: 0;
        padding: 16px 0;
        position: fixed;
        text-align: center;
        width: 100%;
        z-index: 2;

        svg {
          height: 18px;
          margin: 0 8px 0 0;
          width: 18px;
        }

        @media screen and (min-width: $WIDTH_TABLET) {
          background: $TEAL;
          border: 2px solid $LIGHTTEAL;
          border-radius: 16px;
          bottom: 32px;
          box-shadow: rgb(149 157 165 / 35%) 0 6px 14px;
          color: #323644;
          padding: 16px;
          position: unset;
          text-align: center;
          width: unset;
        }
      }
    }

    @media screen and (min-width: $WIDTH_TABLET) {
      bottom: 32px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      left: unset;
      max-width: 380px;
      position: fixed;
      right: 32px;

      .widget {
        align-items: center;
        background: $TEAL;
        border: 2px solid $LIGHTTEAL;
        border-radius: 16px;
        display: flex;
        max-height: 26px;
        position: unset;
        transition: background .3s ease-in;

        &:hover {
          background: darken($TEAL, 10%);
        }

        &.phone-alt,
        &.comment-alt-lines {
          padding: 24px;
        }

        &.save {
          display: flex;
          padding: 24px 32px;
        }
      }
    }
  }
</style>
