<template lang="pug">
  article
    section.container
      Header(modelName="lifeSearch")
      .section
        form(@submit.preven="submitSearch")
          Field(field="customer"
                fieldType="name"
                modelName="lifeSearch"
                :required="true"
                :showLabel="false")
          Field(field="gender1"
                fieldType="radiogroup"
                modelName="lifeSearch"
                :radioOptions="['male', 'female']"
                :required="true")
          Field(field="dob1"
                fieldType="dob"
                modelName="lifeSearch"
                :required="true"
                :showLabel="false"
                :inputAttrs="{ maxLength: 4 }")
          Field(field="life2"
                fieldType="radiogroup"
                modelName="lifeSearch"
                :radioGroupLarge="true"
                :radioGroupLargeIcons="['user', 'user-friends']"
                :radioOptions="[false, true]"
                :required="true")
          transition-group(name="fade")
            template(v-if="search.life2")
              SubHeading(model="lifeSearch.secondApplicant"
                        key="lifeSearch.secondApplicant")
              Field(field="declaration1"
                  fieldType="declaration"
                  modelName="lifeSearch"
                  :required="true"
                  :showLabel="false"
                  key="declaration1")
              Field(field="jointCustomer"
                  fieldType="name"
                  modelName="lifeSearch"
                  :required="true"
                  :showLabel="false"
                  key="jointCustomer")
              Field(field="gender2"
                    fieldType="radiogroup"
                    modelName="lifeSearch"
                    :radioOptions="['male', 'female']"
                    :required="true"
                    key="gender2")
              Field(field="dob2"
                    fieldType="dob"
                    modelName="lifeSearch"
                    :required="true"
                    :showLabel="false"
                    :inputAttrs="{ maxLength: 4 }"
                    key="dob2")
          SubHeading(model="lifeSearch.smokerStatus")
          Field(field="smoker1"
                fieldType="radiogroup"
                modelName="lifeSearch"
              :radioGroupLarge="true"
              :radioGroupLargeIcons="['smoking', 'smoking-ban']"
              :radioOptions="['Smoker', 'Non-smoker']"
              :toolTip="true"
              :required="true")
          transition(name="fade")
            template(v-if="search.life2")
              Field(field="smoker2"
                    fieldType="radiogroup"
                    modelName="lifeSearch"
                    :radioGroupLarge="true"
                    :radioGroupLargeIcons="['smoking', 'smoking-ban']"
                    :radioOptions="['Smoker', 'Non-smoker']"
                    :toolTip="true"
                    :required="true")
          Field(field="declaration2"
                fieldType="declaration"
                modelName="lifeSearch"
                :required="true"
                :showLabel="false")
          Button(:disabled="disabled"
                modelName="lifeSearch")

</template>

<script>
  import Header from '@/components/site/Header';
  import SubHeading from '@/components/site/SubHeading';
  import Field from '@/components/forms/Field';
  import Button from '@/components/forms/Button';

  export default {
    name: 'FormStep1',
    components: { Header, SubHeading, Field, Button },
    data () {
      return {
        disabled: true
      }
    },
    computed: {
      search () {
        return this.$store.getters.search;
      }
    },
    methods: {
      submitSeach () {
        return true;
      }
    }
  };
</script>

<style lang="scss" scoped>
form {
  padding: 0 0 128px;
}
</style>
