<template lang="pug">
  #app
    header
      FormStepper(modelName="lifeSearch")
    main
      RouterView
    footer
      Widgets
</template>

<script>
  import FormStepper from '@/components/site/navigation/FormStepper';
  import Widgets from '@/components/site/Widgets';

  export default {
    name: 'App',
    components: { FormStepper, Widgets }
  };
</script>

<style lang="scss">
  @import './assets/styles/reset.css';
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

  html {
    background: $BACKGROUND;
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #app {
    background: $BACKGROUND;
    color: $CHARCOAL;
    font-display: swap;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    position: relative;
    text-rendering: geometricPrecision;
  }

  header {
    background: $BACKGROUND;
    box-shadow: rgba(149, 157, 165, .25) 0 8px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

    @media screen and (min-width: $WIDTH_TABLET) {
      position: initial;
    }
  }

  main {
    padding: 32px 0 0;

    @media screen and (min-width: $WIDTH_TABLET) {
      padding: 0;
    }
  }

  article {
    section.container {
      padding: 0 16px;
    }

    @media screen and (min-width: $WIDTH_TABLET) {
      display: flex;
      justify-content: center;

      section.container {
        flex: 0 1 100%;
        max-width: 510px;
      }
    }
  }

  .tippy-tooltip {
    @include small-text;

    background: $WHITE;
    border: 1px solid $LIGHTTEAL;
    border-radius: $BASE_BORDER_RADIUS;
    box-shadow: rgba(149, 157, 165, .35) 0 6px 14px;
    color: $CHARCOAL;
    font-display: swap;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    padding: 8px 16px;
  }

  .fade-enter-active,
  .fade-leave-active {
    max-height: 1000px;
    transition: all .55s ease-in-out;
  }

  .fade-enter,
  .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
</style>
