@mixin base-h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 2;
}

@mixin base-h2 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2;
}

@mixin base-text {
  font-size: $BASE_FONT_SIZE;
  font-weight: 500;
  line-height: 1.5;
}

@mixin small-text {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
}

@mixin button {
  @include base-text;

  border: 2px solid $ORANGE;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, .25) 0 8px 10px;
  cursor: pointer;
  font-weight: 700;
  height: 50px;
  letter-spacing: .25px;
  padding: 0 16px;
  text-align: center;
  width: 100%;
}

@mixin button-cta {
  background: $PALEORANGE;
  transition: background .3s ease-in;

  &:hover {
    background: $ORANGE;
  }

  &:focus {
    border: 2px solid $LIGHTTEAL;
  }
}

@mixin base-input {
  background: $WHITE;
  border: 1px solid $GREY;
  border-radius: $BASE_BORDER_RADIUS;
  cursor: pointer;
  font-size: $BASE_FONT_SIZE;
  height: 50px;
  padding: 0 16px;

  ::-webkit-input-placeholder {
    color: lighten($CHARCOAL, .7);
  }

  &:focus {
    box-shadow: 0 0 0 2px $LIGHTTEAL;
  }
}

@mixin label {
  display: block;
  font-size: $BASE_FONT_SIZE;
  font-weight: 500;
  margin: 0 0 8px;

  &:focus {
    box-shadow: 0 0 0 2px $LIGHTTEAL;
  }
}
