<template lang="pug">
  section.submit
    button(tabInex="1") {{ $t(`${modelName}.cta`)}}
</template>

<script>
  export default {
    name: 'Button',
    props: {
      modelName: { type: String, required: true }
    }
  };
</script>

<style lang="scss" scoped>
  .submit {
    button {
      @include button;
      @include button-cta;
    }
  }
</style>
