<template lang="pug">
  section.declaration(:class="{ 'final-declaration': field === 'declaration2' }")
    label.checkbox(:for="field"
                   :class="{ active: declaration }")
      input(type="checkbox"
            :id="field"
            v-model="attribute"
            :required="required")
      FontAwesomeIcon(:icon="['far', 'check']")
      p {{ $t(`${modelName}.${field}.text`) }}
</template>

<script>
  export default {
    name: "Declarations",
    props: {
      field: { type: String, required: true },
      modelName: { type: String, required: true },
      required: { type: Boolean, default: false }
    },
    computed: {
      declaration () {
        return this.$store.getters.search[this.field];
      },
      attribute: {
        get () {
          return this.$store.getters.search[this.field];
        },
        set (v) {
          const h = {};
          h[this.field] = v;
          this.$store.commit('SET_SEARCH', h);
        }
      }
    }
  };
</script>

<style lang="scss" scoped>
  .declaration {
    align-items: baseline;
    display: flex;
    margin: 0;

    .checkbox {
      align-items: flex-start;
      border-radius: 7px;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      position: relative;
      transition: all .3s ease-in;
      width: 100%;

      svg {
        border: 1px solid $GREY;
        border-radius: 7px;
        color: transparent;
        height: 25px;
        padding: 6px;
        width: 25px;
      }

      &.active {
        svg {
          background: $TEAL;
          border: $TEAL;
          color: $WHITE;
          transition: all .3s ease-out;
        }
      }

      input {
        opacity: 0;
        position: absolute;

        &:focus {
          + svg {
            border: 2px solid $LIGHTTEAL;
          }
        }
      }
    }

    p {
      @include base-text;

      margin: 0 0 0 16px;
    }

    @media screen and (min-width: $WIDTH_TABLET) {
      &.final-declaration {
        border-top: 1px solid $GREY;
        padding: 16px 0 0 0;
      }
    }
  }
</style>
