<template lang="pug">
  fieldset.fieldset
    label(v-if="showLabel"
          :for="field") {{ blankLabel ? '' : $t(`${modelName}.${field}.title`) }}
      span(v-if="toolTip")
        FontAwesomeIcon(:icon="['far', 'question-circle']"
                        :content="$t(`${modelName}.${field}.tooltip`)"
                        v-tippy="{ arrow: false }")
    CustomerName(v-if="['customer', 'Customer'].some(i => field.includes(i))"
                :field="field"
                :modelName="modelName"
                :required="required"
                :inputAttrs="inputAttrs")
    CustomerDob(v-if="fieldType.includes('dob')"
                :field="field"
                :modelName="modelName"
                :required="required"
                :inputAttrs="inputAttrs")
    RadioGroup(v-if="fieldType === 'radiogroup'"
                :field="field"
                :modelName="modelName"
                :required="required"
                :radioGroupLargeIcons="radioGroupLargeIcons"
                :radioGroupLarge="radioGroupLarge"
                :radioOptions="radioOptions"
                :inputAttrs="inputAttrs")
    Declaration(v-if="fieldType === 'declaration'"
                :field="field"
                :fieldType="fieldType"
                :modelName="modelName"
                :required="required"
                :inputAttrs="inputAttrs")
</template>

<script>
  import CustomerName from '@/components/forms/customer/Name';
  import CustomerDob from '@/components/forms/customer/Dob';
  import Declaration from '@/components/forms/Declaration';
  import RadioGroup from '@/components/forms/RadioGroup';

  export default {
    name: 'Field',
    components: { CustomerName, CustomerDob, Declaration, RadioGroup },
    props: {
      field: { type: String, required: true },
      fieldType: { type: String, required: true },
      modelName: { type: String, required: true },
      required: { type: Boolean, default: false },
      disabled: { type: Boolean, default: false },
      showLabel: { type: Boolean, default: true },
      blankLabel: { type: Boolean, default: false },
      toolTip: { type: Boolean, default: false },
      radioGroupLarge: { type: Boolean, default: false },
      radioGroupLargeIcons: { type: Array, default: null },
      radioOptions: { type: Array, default: null },
      inputAttrs: { type: Object, default: () => { return {}; } },
    }
  };
</script>

<style lang="scss" scoped>
  fieldset.fieldset {
    display: flex;
    flex-direction: column;
    margin: 24px 0 32px;
    width: 100%;

    label {
      @include label;

      display: flex;
      flex: 1;
      justify-content: space-between;
      margin: 0 0 16px;

      span {
        cursor: pointer;
      }
    }
  }
</style>
