<template lang="pug">
  input.input(v-model="attribute"
              :required="required"
              :placeholder="placeHolder"
              v-bind="inputAttrs")
</template>

<script>
  export default {
    name: "Input",
    props: {
      field: { type: Array, required: true },
      modelName: { type: String, required: true },
      placeHolder: { type: String, default: '' },
      required: { type: Boolean, default: false },
      disabled: { type: Boolean, default: false },
      inputAttrs: { type: Object, default: () => { return {}; } },
    },
    computed: {
      attribute: {
        get () {
          return this.$store.getters.customer[this.field[0]][this.field[1]];
        },
        set (v) {
          const h = {};
          h[this.field[1]] = v;
          this.$store.commit('SET_CUSTOMER', { property: this.field[0] , value: h });
        }
      }
    }
  };
</script>

<style lang="scss" scoped>
  input.input {
    @include base-input;

    width: 100%;
  }
</style>
