<template lang="pug">
  section.radio-group
    .radio(v-for="(radio, i) in radioOptions"
          :class="{ active: radio === selectedValue, large: radioGroupLarge }" tabindex="1")
      label(:for="id(radio, i)")
        input(type="radio"
              :id="id(radio, i)"
              :name="field"
              v-model="attribute"
              :value="radio"
              :required="required")
        span {{ $t(`${modelName}.${field}`).options[i] }}
        template(v-if="radioGroupLarge")
          FontAwesomeIcon(:icon="['fas', radioGroupLargeIcons[i]]")
        template(v-else)
          FontAwesomeIcon(:icon="['fas', 'circle']")(v-if="radio === selectedValue")
          FontAwesomeIcon(:icon="['far', 'circle']")(v-else)
</template>

<script>
  import { v4 as uuidv4 } from 'uuid';

  export default {
    name: 'RadioGroup',
    props: {
      field: { type: String, required: true },
      modelName: { type: String, required: true },
      required: { type: Boolean, default: false },
      disabled: { type: Boolean, default: false },
      radioGroupLarge: { type: Boolean, default: false },
      radioGroupLargeIcons: { type: Array, default: null },
      radioOptions: { type: Array, default: null },
      inputAttrs: { type: Object, default: () => { return {}; } },
    },
    data () {
      return {
        ids: [
          uuidv4(),
          uuidv4()
        ]
      };
    },
    computed: {
      selectedValue () {
        return this.$store.getters.search[this.field];
      },
      attribute: {
        get () {
          return this.$store.getters.search[this.field];
        },
        set (v) {
          const h = {};
          h[this.field] = v;
          this.$store.commit('SET_SEARCH', h);
        }
      }
    },
    methods: {
      id (id, i) {
        return `${id}-${this.ids[i]}`;
      }
    }
  };
</script>

<style lang="scss" scoped>
  .radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .radio {
      align-items: center;
      background: $WHITE;
      border: 1px solid transparent;
      border-radius: $BASE_BORDER_RADIUS;
      cursor: pointer;
      flex: 0 1 48%;
      flex-direction: row;
      font-size: $BASE_FONT_SIZE;
      height: 50px;
      justify-content: flex-start;
      position: relative;
      transition: all .3s ease-in;

      label {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 50px;
        padding: 0 16px;
        position: relative;
        width: 100%;

        &:focus {
          border-radius: $BASE_BORDER_RADIUS;
          box-shadow: 0 0 0 2px $LIGHTTEAL;
        }

        &::before {
          background: transparent;
          border: 1px solid $GREY;
          border-radius: $BASE_BORDER_RADIUS;
          content: "";
          height: 100%;
          left: 0;
          opacity: 1;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          z-index: 1;
        }

        svg {
          color: $GREY;
          height: 24px;
          margin: 0 8px 0 0;
          width: 24px;
        }

        span {
          @include base-text;

          order: 2;
        }

        input {
          opacity: 0;
          position: absolute;

          &:focus {
            + span {
              &::after {
                background: transparent;
                border-radius: $BASE_BORDER_RADIUS;
                box-shadow: 0 0 0 2px $LIGHTTEAL;
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
              }
            }
          }
        }
      }

      &.large {
        justify-content: center;
        min-height: 110px;

        label {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          text-align: center;

          span {
            @include small-text;

            font-weight: 700;
          }

          svg {
            height: 40px;
            margin: 0 0 8px;
            width: 40px;
          }
        }
      }

      &.active {
        transition: all .3s ease-out;

        label {
          &::before {
            border: 1px solid $TEAL;
          }

          svg {
            color: $CHARCOAL;
          }
        }
      }
    }
  }
</style>
