<template lang="pug">
  .select
    FontAwesomeIcon(:icon="['fas', 'caret-down']")
    select(v-model="attribute")
      slot
</template>

<script>
  export default {
    name: 'Select',
    props: {
      field: { type: Array, required: true },
      modelName: { type: String, required: true },
      required: { type: Boolean, default: false },
      disabled: { type: Boolean, default: false },
      inputAttrs: { type: Object, default: () => { return {}; } },
    },
    computed: {
      attribute: {
        get () {
          return this.$store.getters.customer[this.field[0]][this.field[1]];
        },
        set (v) {
          const h = {};
          h[this.field[1]] = v;
          this.$store.commit('SET_CUSTOMER', { property: this.field[0] , value: h });
        }
      }
    }
  };
</script>

<style lang="scss" scoped>
  .select {
    position: relative;
    width: 100%;

    svg {
      color: $CHARCOAL;
      height: 18px;
      position: absolute;
      right: 10px;
      top: 16px;
      width: 18px;
      z-index: 2;
    }

    &::after {
      background: $WHITE;
      border: 1px solid $GREY;
      border-bottom-right-radius: $BASE_BORDER_RADIUS;
      border-left: 0;
      border-top-right-radius: $BASE_BORDER_RADIUS;
      content: '';
      height: 50px;
      position: absolute;
      right: 0;
      width: 30px;
      z-index: 1;
    }

    select {
      @include base-input;

      width: 100%;
    }
  }
</style>
